@import "https://brick.freetls.fastly.net/Lato:400";
@tailwind base;

@tailwind components;

@tailwind utilities;

@import "https://brick.freetls.fastly.net/Lato:400";

sub, sup {
  all: unset;

  @apply text-base;
}

sup {
  vertical-align: super;
  top: -.3em;
}

sub {
  vertical-align: sub;
  bottom: -.25em;
}

.footnote-definition {
  flex-direction: row;
  align-items: center;
  display: flex;

  @apply gap-1;
}

.footnote-definition-label:after {
  content: ".";
}

code td {
  padding: 0 !important;
}

code tr {
  border-bottom-width: 0 !important;
}

code table {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.copy {
  z-index: 9;
  position: absolute;
  top: .6em;
  right: .6em;
}

.codeblock {
  position: relative;
}

@layer components {
  .footnote-definition-label {
    line-height: inherit;
    font-size: 1em;
    position: static;
  }

  code mark {
    all: unset;

    @apply dark:bg-stone-700;

    @apply bg-stone-300;

    @apply block;
  }

  .tl-prose {
    @apply prose prose-slate dark:prose-invert prose-a:underline prose-a:underline-offset-4 prose-a:decoration-2 prose-a:decoration-sky-500 prose-a:dark:decoration-sky-400;
  }

  .tl-link {
    @apply text-black dark:text-white underline underline-offset-8 decoration-1 hover:decoration-2 decoration-sky-500 dark:decoration-sky-400;
  }

  .row {
    @apply flex flex-row;
  }

  .col {
    @apply flex flex-col;
  }
}
